<div class="wrapper {{ source }}">
  <ng-container *ngIf="loading; else notLoading">
    <mat-spinner diameter="24"></mat-spinner>
  </ng-container>
  <ng-template #notLoading>
    <svg>
      <use *ngIf="provider === 'gitlab'" xlink:href="#gitlab"></use>
      <use *ngIf="provider === 'microsoft'" xlink:href="#microsoft"></use>
      <use *ngIf="provider === 'github'" xlink:href="#github"></use>
      <use *ngIf="provider === 'google'" xlink:href="#google"></use>
      <use *ngIf="provider === 'digitalocean'" xlink:href="#digitalocean"></use>
      <use *ngIf="provider === 'gitea'" xlink:href="#gitea"></use>
    </svg>
    <span class="text">{{ text }}</span></ng-template
  >
</div>
